.title{
    text-align: center;

}
.title h3{
    margin:3px auto !important;
}
.userDiv
    {
        float: left;
        width: 45%;
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
        text-align: center;
    }

.userDiv div
    {
        margin:5px auto;
    }

.userDiv div button
    {
        border-radius:3px;
        background-color:lightblue;
        border: 1px solid black;
    }