.postDiv
    {
        background: lightblue;
        border: 1px solid black;
        padding:7px;
        margin:5px 5%;
        width:50%;
        border-radius:5px;
    }

.connectDiv
    {
        text-align: center;
    }

.connectDiv, divBoxNameComment
    {
        width:100%;
        margin:5px 5%;
    }

.connectDiv > div
    {
        margin:5px;
        padding:5px;
        border: 1px solid black;
        float: left;
        width:20%;
        min-height: 60vh;
        background: lightblue;
        border-radius:5px;
    }

.connectDiv > div div
    {
        margin:5px;
        padding:5px;
    }

.userBlock
    {
        min-height:15vh;
        border-bottom: 1px solid black;
    }
.mainDivDetailsPost h3
    {
        margin:5px 5%;
    }